<!DOCTYPE html>
<html lang="en">

<head>
    <title>Remote Driver</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link rel="stylesheet" href='css/remoteDriver.css'>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</head>

<body>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="./remoteDriver.html">Remote Driver</a>
        </li>
    </ul>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Drive</h1>
            <button id="left-button" type="button" class="hidden-button btn btn-primary btn-lg">
                <img src="assets/pictures/left_arrow.png" alt="make car turn left">
            </button>
    
            <button id="up-button" type="button" class="hidden-button btn btn-primary btn-lg">
                <img src="assets/pictures/up_arrow.png" alt="make car go forward">
            </button>
    
            <button id="right-button" type="button" class="hidden-button btn btn-primary btn-lg">
                <img src="assets/pictures/right_arrow.png" alt="make car turn right">
            </button>
    
            <button id="down-button" type="button" class="hidden-button btn btn-primary btn-lg">
                <img src="assets/pictures/down_arrow.png" alt="make car go backward">
            </button>
                
            
        </div>
    </div>
</body>

</HTML> 