<!DOCTYPE html>
<html lang="en">

<head>
    <title>Remote Driver</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href='css/remoteDriver.css'>
    <!-- <script type="text/javascript" src="credentials.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <script src="js/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,400,600,700">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
</head>



<!--  <link href="scorecard-style.css" rel="stylesheet"> -->


<body>
    <!-- <ul class="nav justify-content-center">
        <li class="nav-item">
            <class="dropdown-menu">Remote Driver</a>
        </li>
    </ul> -->

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Remote Driver</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">Home
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a>Account</a>
                        </li>
                        <li>
                            <a>Activity Log</a>
                        </li>
                        <li>
                            <a>Data</a>
                        </li>
                        <li>
                            <a>Account</a>
                        </li>
                        
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron-narrow">
        <h3>Remote Driver</h3>
        <p>Internet of Things Device.</p>
    </div>


    <div class="container">
        <button id="left-button" type="button" class="btn btn-primary btn-lg arrow-btn" data-direction="left" data-degrees="-90"
            name="left button">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </button>

        <button id="up-button" type="button" class="btn btn-primary btn-lg arrow-btn" data-direction="up" data-degrees="180" name="up button">
            <span class="glyphicon glyphicon-arrow-up"></span>
        </button>

        <button id="right-button" type="button" class="btn btn-primary btn-lg arrow-btn" data-direction="right" data-degrees="90"
            name="right button">
            <span class="glyphicon glyphicon-arrow-right"></span>
        </button>

        <button id="down-button" type="button" class="btn btn-primary btn-lg arrow-btn" data-direction="down" data-degrees="-180"
            name="down button">
            <span class="glyphicon glyphicon-arrow-down"></span>
        </button>
    </div>

    <!-- motor/forward	Control the motor to forward.
    motor/backward	Control the motor to go backward.
    motor/stop	 -->

    <div class="pagebreak"></div>

    <div class="row">
        <div class="column">
            <div id="simulation" class="panel-default">
                <div class="rounded-circle" id="compass"></div>
                <br>
                <br>simulation here
                <br>
            </div>
        </div>

        <div class="column">
            <div id="command-log" class="panel-default">
                <br>
                <br>command-log
                <br>
                <br>
            </div>
        </div>
    </div>
    <br>

    <br>
    <div class="pagebreak"></div>
    <br>
    <canvas id="game" width="480" height="320"></canvas>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Administrative Panel</h4>
                </div>
                <div class="modal-body">
                    <p>Place config options here</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</body>

</HTML>