<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="./remoteDriver.html">Remote Driver</a>
    </li>
</ul>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Drive</h1>
        <button id="left-button" type="button" class="hidden-button btn btn-primary btn-lg">
            <img src="../../../assets/pictures/left_arrow.png" alt="make car turn left">
        </button>

        <button id="up-button" type="button" class="hidden-button btn btn-primary btn-lg">
            <img src="../../../assets/pictures/up_arrow.png" alt="make car turn left">
        </button>

        <button id="right-button" type="button" class="hidden-button btn btn-primary btn-lg">
            <img src="../../../assets/pictures/right_arrow.png" alt="make car turn left">
        </button>

        <button id="down-button" type="button" class="hidden-button btn btn-primary btn-lg">
            <img src="../../../assets/pictures/down_arrow.png" alt="make car turn left">
        </button>
    </div>
</div>