

body {
  width: auto;
  background-color: rgb(59, 56, 56);
  font-family: "Josefin Sans" 100px;;
  /* font-family: arial; */
  text-align: center;
}

body,
.jumbotron {
  background-color: aliceblue;
}

.jumbotron,
.pagebreak {
  border-bottom: 1px solid black;
}

.pagebreak {
 width: 100%;
}

.navbar, .navi-failsafe {
  height: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: rgb(37, 35, 35);
  opacity: 1;
  border: none;
  width: 100%;
}

h1 {
  text-align: center;
}

#left-button,
#right-button,
#up-button,
#down-button {
  height: 100px;
  width: 100px;
}

#commands {
  height: 400px;
  width: 100%;
  background-color: rgb(51, 49, 58);
}

 #command-log {
    height: 400px;
    /* width: 26.97%; */
    /* width: 100%; */
    /* float: left; */
    /* border: 0px solid black; */
    /* border-radius: 5px; */
    padding: 15px;
    /* margin: 10px 23px 10px 23px; */
    width: 100%;
    min-height: 200px;
    overflow-y: scroll;
    color: lightgray;
 }

#simulation,
 {
  border: 0px solid black;
  border-radius: 5px;
  padding: 15px;
  /* margin: 10px 23px 10px 23px; */
  width: 100%;
  min-height: 200px;
  background-color: rgb(51, 49, 58);
  color: lightgray;

}

#compass {
  position: absolute;
  border-radius: 150px;
  height: 300px;
  width: 300px;
  background-color: rgb(147, 153, 173);
    margin: 30px;
    padding: 40px;
}

#compass.span {
    position: absolute;
        top: 45px;
        left: 2px;
        width: 100%;
        color: blue;
}

canvas { 
  background: #eee; }

.arrow-btn {
  border-radius: 100px;
  border-width: 0px;
  background-color: rgb(34, 32, 32);
  margin: 5px;
}

.glyphicon {
  max-width: 50px;
  color: green;
  font-size: 300%;
}

.target-route {
  float: left;
  margin: 17px;
  margin-left: 20px;
  color: rgb(13, 138, 13);

}

.header-text{
  font-size: 12px;
}

.dropdown-menu {
  style: none;
}

.target {
  width: 100%;
}

#what .pagebreak {
  width: 100%;
}

#paths {
font-size: 14px;
}

.compass-glyph {
  width: auto;
}